<% content_for :title, "#{@school.name} | Departments" %>

<div id="content">
  <h1><%=h @school.name %> departments</h1>
  <p><%= link_to 'New department', new_school_department_path %></p>
  <ul>
  <% @departments.each do |department| %>
    <li>
      <%= link_to department.name, [@school, department] %>
      (<%=h department.abbr %>)
    </li>
  <% end %>
    </ul>
</div>