<% content_for :title, "#{@school.name} | #{@department.name}" %>

<div id="content">
  <h1>Department of <%=h @department.name %></h1>

  <% @department.courses.each do |course| %>
    <strong><%= link_to course.abbr, course_path(course.params) %></strong>
    <%=h course.name %>
  <% end %>
</div>