<% content_for :title, "#{@school.name} | #{@department.name}" %>

<div id="content">
  <h1>Department of <%=h @department.name %></h1>
  <p><%= link_to 'Add a course', new_course_path %></p>
  <ul>
    <% @courses.each do |course| %>
      <li>
        <%= link_to course.abbr, course_path(course.params) %>
        (<%=h course.name %>)
      </li>
    <% end %>
  </ul>
</div>